<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printer" class="com.codve.prospring.ch03.Printer"/>

    <bean id="newPrinter" class="com.codve.prospring.ch03.NewPrinter"/>

    <!-- 注意, 这里新声明了一个 bean-->
    <bean id="replacer" class="com.codve.prospring.ch03.Printer">
        <replaced-method name="print" replacer="newPrinter">
            <arg-type>String</arg-type>
        </replaced-method>
    </bean>
</beans>