<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="provider" class="com.codve.prospring.ch03.xml.ConfigurableMessageProvider"
        c:message="hello, java" />
        <!-- 向构造函数传入参数, 多个参数用 index 字段指明索引 -->
        <!--<constructor-arg value="hello, java"/>-->

</beans>