<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.codve.prospring.ch03.xml.Address"
          p:name="Beijing" scope="prototype"/>

    <bean id="employee" class="com.codve.prospring.ch03.xml.Employee"
          p:address-ref="address"/>

    <bean id="abstractEmployee" class="com.codve.prospring.ch03.xml.AbstractEmployee">
        <lookup-method name="getAddress" bean="address"/>
    </bean>
</beans>